/.vscode
/mandala_gif
pomo/Screens_png/Back.png
pomo/Screens_png/Done.png
pomo/Screens_png/Extend.png
pomo/Screens_png/Fail.png
pomo/Screens_png/Ready.png
pomo/Screens_png/Reset.png
pomo/Screens_png/Save.png
pomo/Screens_png/screen.pdn
pomo/Screens_png/Set.png
pomo/Screens_png/Start.png
pomo/Screens_png/Stats.png
pomo/Screens_png/Sure.png
/fonts